form(method='post', action='/edit')
    input(required value=user.name name='name' type='text' placeholder='name')
    input(required value=user.email name='email' type='email' placeholder='email')
    input(required value=user.age name='age' type='number' placeholder='age')
    input(required value=user.uid name='uid' type='text' placeholder='uid')
    input(type='submit',value='Enter If You Dare')