form(method='post', action='/create')
    input(required name='name' type='text' placeholder='name')
    input(required name='email' type='email' placeholder='email')
    input(required name='age' type='number' placeholder='age')
    input(type='submit',value='Enter If You Dare')